
<%# <div class="pet-card">
  <%= cl_image_tag(pet.photo.key, width: "25%") %>
  <%# <h2><%= link_to pet.name, pet %></h2>
  <%# <p><%= pet.race %></p>
  <%# <p>$<%= pet.price_per_day %> per day</p>
  <%# <p><%= pet.targets %></p>
<%# </div> %>
