<div class="show-banner mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1518717758536-85ae29035b6d?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
  <div class="container">
    <h1 id="hero">My pest control pets</h1>
  </div>
</div>


<div class="container">
  <% if @pets.any? %>
    <div class="add-pet">
      <%= link_to "Add another pet", new_pet_path, class: "btn btn-outline-dark rounded-pill mb-5" %>
    </div>
  <% end %>
  <div class="grid">
    <% if @pets.any? %>
      <% @pets.each do |pet| %>
        <div class="pet-card" >
        <% if pet.photo.attached? %>
          <%= cl_image_tag(pet.photo.key, gravity: "auto", height: 300, width: 300, crop: "auto") %>
        <% else %>
          <span>Hello</span>
        <% end %>
          <p><%= pet.race.capitalize %></p>
          <h2><%= link_to pet.name.capitalize, pet %></h2>
          <p><%= pet.price_per_day %>€/day</p>
          <p><%= pet.targets.capitalize %></p>

          <div>
            <%= link_to "Edit Pet", edit_pet_path(pet), class: "btn btn-outline-dark rounded-pill mx-3" %>
            <%= link_to "Delete", pet_path(pet), class: "btn btn-danger rounded-pill fw-bold text-white", data: { "turbo-confirm": 'Are you sure?', turbo_method: :delete } %>
          </div>

        </div>
      <% end %>
    <% else %>
      <div class="no-pets-message">
        <p>You don't have any pest control pets yet.</p>
        <%= link_to "Add your first pet", new_pet_path, class: "btn btn-outline-dark rounded-pill" %>
      </div>
    <% end %>
  </div>

</div>
