<div class="container">
  <h1 class="mt-5 mb-5">Add a new pet</h2>

  <%= simple_form_for(@pet) do |f| %>
    <%= f.input :name %>
    <%= f.input :race %>
    <%= f.input :price_per_day%>
    <%= f.input :description %>
    <%= f.input :targets%>
    <%= f.input :photo, as: :file %>
    <div class="form-actions">
    <%= f.button :submit, "Add your pet!", class: "btn btn-outline-primary rounded-pill mt-3" %>
    </div>
  <% end %>
</div>
