<div class="container">
  <header class="header">
    <%= link_to "< Home page", root_path %>
  </header>
  <div class="grid">
    <div class="pet-card">
      <%= image_tag(@pet.photo, width: "25%") %>
      <h2><%= @pet.name %></h2>
      <p><%= @pet.race %></p>
      <p>$<%= @pet.price_per_day %> per day</p>
      <p><%= @pet.targets %></p>
      <p><%= @pet.description %></p>
    </div>

  <% if @pet.user == current_user %>
    <div class="pet-actions">
      <%= link_to "Edit Hunting Preferences", edit_pet_path(@pet), class: "btn btn-primary" %>
      <%= link_to "Delete", pet_path(@pet), class: "btn btn-danger", data: { "turbo-confirm": 'Are you sure?', turbo_method: :delete } %>
    </div>
    <% else %>
    <div class="pet-actions">
      <%= link_to "Book this pet", new_pet_booking_path(@pet), class: "btn btn-primary" %>
    </div>
  <% end %>

  </div>
</div>
