<div class="show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cloudinary_url(@booking.pet.photo.key) %>');">
  <div class="container">
    <h1 id="hero">Booking details for <%= @booking.pet.name %></h1>
  </div>
</div>

<div class="container">
  <div class="mt-5">
    <p><strong>Pet:</strong> <%= @booking.pet.name %></p>
    <p><strong>Start Date:</strong> <%= @booking.start_date %></p>
    <p><strong>End Date:</strong> <%= @booking.end_date %></p>
    <p><strong>Description:</strong> <%= @booking.pet.description %></p>
  </div>
  <%= link_to 'Back to Bookings', bookings_path, class: "btn btn-outline-dark rounded-pill" %>
</div>
